<!--[ Ваша система ]     |  [ Виробіток за день ]
    [ Сонячні умови ]    |  [ За місяць ]
    [ Втрати ]           |  [ За рік ]
    [ Вартість ]         |  [ Економія ]
                        |  [ Окупність ]

-------------------------------
Поради
Як це рахується
Save scenario -->

<h1>☀️ SOLAR CALCULATOR</h1>

<section class="System_setup" id="System_setup">

</section>

<section class="Environment" class="Environment">

</section>

<section class="System losses" id="System losses">

</section>



