<header>
  <h1>Solar Calculator</h1>
</header>

<main class="container main">
  <!-- LEFT -->
  <section class="card">
    <div class="card__title">System Configuration</div>

    <div class="accordion">
      <div class="acc">
        <div class="acc__head">🏠 Your System Setup</div>

        <div class="acc__body">
          <div class="field">
            <label>Average Daily Energy Consumption (kWh/day):</label>
            <input type="number" [(ngModel)]="consumption" />
          </div>

          <div class="field">
            <label>Solar Panel Power Rating (W):</label>
            <input type="number" [(ngModel)]="panelPowerW" />
          </div>

          <div class="field">
            <h2 class="sistem">System Type:</h2>

            <div class="chips">
              <label class="chip">
                On-Grid System
                <input class="radio" type="radio" name="type" value="on-grid" />
              </label>

              <label class="chip">
                Off-Grid System
                <input class="radio" type="radio" name="type" value="off-grid" />
              </label>

              <label class="chip">
                Hybrid System
                <input class="radio" type="radio" name="type" value="hybrid" />
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="acc">
        <div class="acc__head">☀️ Solar Conditions</div>

        <div class="acc__body">
          <div class="field">
            <label>Installation Region:</label>

            <select [(ngModel)]="region" (change)="onRegionChange()">
              <option value="" disabled>Select region</option>

              <option value="khmelnytskyi">Khmelnytskyi Region</option>
              <option value="vinnytsia">Vinnytsia Region</option>
              <option value="volyn">Volyn Region</option>
              <option value="dnipropetrovsk">Dnipropetrovsk Region</option>
              <option value="donetsk">Donetsk Region</option>
              <option value="zhytomyr">Zhytomyr Region</option>
              <option value="zakarpattia">Zakarpattia Region</option>
              <option value="zaporizhzhia">Zaporizhzhia Region</option>
              <option value="ivano-frankivsk">Ivano-Frankivsk Region</option>
              <option value="kyiv">Kyiv Region</option>
              <option value="kirovohrad">Kirovohrad Region</option>
              <option value="luhansk">Luhansk Region</option>
              <option value="lviv">Lviv Region</option>
              <option value="mykolaiv">Mykolaiv Region</option>
              <option value="odesa">Odesa Region</option>
              <option value="poltava">Poltava Region</option>
              <option value="rivne">Rivne Region</option>
              <option value="sumy">Sumy Region</option>
              <option value="ternopil">Ternopil Region</option>
              <option value="kharkiv">Kharkiv Region</option>
              <option value="kherson">Kherson Region</option>
              <option value="cherkasy">Cherkasy Region</option>
              <option value="chernivtsi">Chernivtsi Region</option>
              <option value="chernihiv">Chernihiv Region</option>
              <option value="crimea">Crimea</option>
              <option value="kyiv-city">Kyiv City</option>
              <option value="sevastopol">Sevastopol</option>
            </select>
          </div>

          <div class="field">
            <label>Peak Sun Hours (PSH):</label>
            <input
              type="number"
              step="0.1"
              [(ngModel)]="psh"
              (input)="onPSHManualChange()"
            />
          </div>
        </div>
      </div>

      <div class="acc">
        <div class="acc__head">📉 System Losses</div>

        <div class="acc__body">
          <div class="field">
            <label>Estimated Energy Loss (%):</label>
            <input type="number" [(ngModel)]="lossesPct" />
          </div>
        </div>
      </div>

      <div class="acc">
        <div class="acc__head">💰 Cost Parameters</div>

        <div class="acc__body">
          <div class="field">
            <label>Electricity Tariff (UAH/kWh):</label>
            <input type="number" [(ngModel)]="tariff" />
          </div>

          <div class="field">
            <label>Solar Panel Cost (UAH):</label>
            <input type="number" [(ngModel)]="panelPrice" />
          </div>

          <div class="field">
            <label>Inverter Cost (UAH):</label>
            <input type="number" [(ngModel)]="inverterPrice" />
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- RIGHT -->
  <section class="card">
    <div class="card__title">Calculation Results</div>

    <div class="big">
      Estimated Daily Energy Production:
      ≈ <span>{{ outDaily | number : "1.0-1" }}</span> kWh/day
    </div>

    <div class="resultRow">
      Required System Capacity:
      <b><span>{{ outSystemKw | number : "1.0-2" }}</span> kW</b>
    </div>

    <div class="resultRow">
      Number of Solar Panels: <b><span>{{ outPanels }}</span></b>
    </div>

    <div class="resultRow">
      Monthly Energy Production: <b><span>{{ outMonthly | number : "1.0-0" }}</span></b>
    </div>

    <div class="resultRow">
      Annual Energy Production: <b><span>{{ outYearly | number : "1.0-0" }}</span></b>
    </div>

    <div class="resultRow">
      Estimated Cost Savings: <b><span>{{ outSavings | number : "1.0-0" }}</span></b>
    </div>

    <div class="resultRow">
      <p>
        Payback Period:
        <span>{{ outPaybackYears | number : "1.0-1" }}</span> years
         - <span><b>{{ outPaybackMonths | number : "1.0-0" }}</b></span> months
      </p>
    </div>

    <button type="button" (click)="calculate()">Calculate System</button>
    <button id="btnres" type="button" (click)="resetAll()">Reset Inputs</button>
  </section>
</main>